
/*
 * Footer
 */
 .blog-footer {
  padding: 2.5rem 0;
  
  @media (min-width: $md) {
    padding: 5rem 0;
  }
  
  color: $white;
  background-color: $black;
  
  &-top {
    border-top: 1px solid rgba($white,.25);
    padding-top: 1.25rem;
    
    @media (min-width: $md) {
      padding-top: 2.55rem;
    }
  }
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
